.container {
    width: calc(100% - 26px);
    padding: 12px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    gap: 4px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border: 1px solid var(--gray-300);
    transition: box-shadow var(--transition);
    animation: shadow 8s infinite;

    & > p {
        color: var(--gray-500);
        text-align: center;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        letter-spacing: -0.2px;
    }
}

@keyframes shadow {
    0% {
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }

    50% {
        box-shadow: rgba(145, 155, 155, 0.85) 0px 1px 5px;
    }

    100% {
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
}
