.container {
    width: calc(100% - 26px);
    padding: 12px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    gap: 4px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border: 1px solid var(--gray-300);

    & > p {
        color: var(--gray-500);
        text-align: center;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        letter-spacing: -0.2px;
    }

    &[data-status="new"] {
        box-shadow: rgba(11, 11, 151, 0.35) 0px 5px 15px;
    }

    &[data-status="charged"] {
        & > p {
            color: var(--success-600);
        }
        box-shadow: var(--success-400) 0px 5px 15px;
    }
    &[data-status="validation"] {
        & > p {
            color: var(--warning-600);
        }
        box-shadow: var(--warning-400) 0px 5px 15px;
    }
    &[data-status="error"],
    &[data-status="declined"] {
        & > p {
            color: var(--error-600);
        }
        box-shadow: var(var(--error-400)) 0px 5px 15px;
    }
}
