.btnGroup{
  position: fixed;
  transform: translateX(-50%);
  left: 50%;
  bottom: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.toggleCircle{
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background: rgb(65, 65, 65);

  &.active{
    background: red;
  }
}

.callOff{
  background: red;
}