.wrapper {
    position: fixed;
    inset: 0;
    padding: 16px;
    background: rgba(0, 0, 0, 0.62);
    backdrop-filter: blur(2.5px);
    z-index: 1001;
    opacity: 0;
    visibility: hidden;

    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity, visibility var(--transition);

    &[data-visible="true"] {
        opacity: 1;
        visibility: visible;
    }

    & > section {
        width: 100%;
        height: fit-content;
        position: relative;
        padding: calc(12px) 12px 12px;
        border-radius: 16px;
        display: flex;
        flex-direction: column;
        gap: 12px;
        background-color: var(--stroke-1);

        & > [data-close] {
            position: absolute;
            top: 8px;
            right: 8px;
            padding: 4px;
            display: flex;
            justify-content: center;
            align-items: center;

            width: 20px;
            height: 20px;
            border-radius: 50%;
            background-color: var(--gray-200);
            border: 1px solid var(--gray-500);
            cursor: pointer;
        }

        h3 {
            padding-left: 22px;
            padding-right: 22px;
            color: var(--gray-500);
            text-align: center;
            font-size: 18px;
            font-style: normal;
            font-weight: 500;
            line-height: 28px; /* 155.556% */
            letter-spacing: -0.3px;
        }

        & > [data-button-close] {
            background: var(--gray-200);

            & > span {
                color: var(--gray-500);
            }
        }
    }
}
