.containerArrow {
  position: fixed;
  bottom: 15px;
  right: 15px;
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  border: 1px solid #D0D5DD;
  background: #EEF0FE;
  box-shadow: 0px 11px 20px 0px rgba(100, 104, 115, 0.10);
  transition: all 0.4s ease-in-out 0.05s;

  &.active{
    right: -150px;
  }
}



.containerLanguages {
  position: fixed;
  bottom: 15px;
  right: -150px;
  transition: all 0.4s ease-in-out 0.05s;
  display: inline-flex;
  align-items: center;
  gap: 5px;
  list-style: none;
  height: 48px;
  border-radius: 24px;
  margin: 0;
  padding-left: 8px;
  padding-right: 8px;
  box-shadow: 0px 11px 20px 0px rgba(100, 104, 115, 0.10);
  background: #EEF0FE;
  border: 1px solid #D0D5DD;


  li {
    height: 32px;
    width: 32px;
    border-radius: 50%;
    border: 2px solid transparent;
    transition: all 0.2s ease-out 0.03s;
    filter: grayscale(80%);

    &.active {
      border-color: var(--premium-color);
      filter: grayscale(0%)
    }

    .img-flag {
      height: 32px;
      width: 32px;
      border-radius: 50%;
      object-fit: cover;
    }
  }


  &.active {
    right: 15px;
  }
}