.wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    background: white;
    z-index: 1100;
}

.container {
    position: relative;
    width: calc(100% - 40px);
    height: calc(100% - 80px);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    header {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;

        h2 {
            white-space: normal;
            color: #252E4E;
            text-align: center;
            font-size: 32px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
        }
    }

    section{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
        width: 100%;

        .avatar{
            width: 120px;
            height: 120px;
            border-radius: 24px;
            border: 3px solid var(--color-gray);
        }

        h4{
            color: #252E4E;
            text-align: center;
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }

        .textArea{
            width: 100%;
            resize: none;
            border-radius: 24px;
            border: 3px solid var(--color-gray);
        }
    }

    footer {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        a{
            color: #C3C8D8;
            text-align: center;
            font-size: 16px;
            font-style: normal;
            font-weight: 300;
            line-height: normal;
            text-decoration-line: underline;
            white-space: nowrap;
        }
    }
}

.button{
    background-color: var(--premium-color);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 6px 12px;
    border: none !important;

    border-radius: 15px;
    background: #252E4E;
    box-shadow: 0px 6px 15px 0px #D9E1E4;
    min-width: 180px;

    p {
            color: #FFF;
            font-size: 14px;
            font-weight: 500;
            line-height: 20px;
            letter-spacing: -0.5px;
    }
}