.header {
  display: inline-flex;
  gap: 15px;
  padding: 15px 15px 0;
}

.avatar {
  border: 2px solid white;
  border-radius: 18px;
  height: 72px;
  width: 72px;
  overflow: hidden;
  aspect-ratio: 1/1;

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

.nameInfo{
  width: fit-content;
  display: flex;
  flex-direction: column;
  gap: 7px;

  h3{
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: -0.5px;
  }
}