.content-archive{
        padding-bottom: 80px;
        animation: show 450ms;

        .header-archive{
                background-color: var(--secondary-purple-light);
                height: 110px;

        }
        .list-archive{
                padding: 1rem;
                width: calc(100% - 40px);
                display: flex;
                flex-direction: column;
                gap: 7px;

                .item-archive{
                        background-color: white;
                        border: 1px solid var(--gray-color);
                        border-radius: 25px;
                        overflow: hidden;
                        width: calc(100% - 25px);
                        min-height: 100px;
                        display: flex;
                        flex-direction: row;
                        gap: 10px;
                        padding: 1rem;

                        .avatar{
                                border: 1px solid var(--gray-color);
                                height: 100px;
                                width: 100px;
                                border-radius: 21px;
                                object-fit: cover;
                        }

                        .descriptions{
                                display: flex;
                                flex-direction: column;
                                gap: 4px;

                                p{
                                        font-weight: 600;
                                        font-size: 16px;
                                        line-height: 15px;
                                        color: var(--premium-color);
                                        text-overflow: ellipsis;
                                        span{
                                                color: var(--cyan);
                                        }
                                }
                        }

                        .buttons{
                                display: flex;
                                flex-direction: row;
                                gap: 10px;
                                flex-wrap: wrap;

                                .login-submit, .state-revers{
                                        flex: 1 0 auto;
                                }
                                .login-submit{
                                        p{
                                                color: white;
                                        }
                                }
                        }
                }
        }

        .item-money{
                border-radius: 25px;
                overflow: hidden;
                width: calc(100%);
                background-color: white;
                border: 1px solid var(--gray-color);
                min-height: 100px;
                display: flex;
                flex-direction: column;
                padding: 1rem;
                gap: 15px;

                .title{
                        font-weight: 600;
                        font-size: 20px;
                        line-height: 15px;
                        color: var(--premium-color);
                }
        }
}

.link-to-invite-text{
        font-weight: 600;
        font-size: 16px;
        line-height: 15px;
        color: var(--premium-color);
}

@keyframes show{
        from{
                opacity: 0;
        }
        to{
                opacity: 1;
        }
}