.header{
        position: absolute;
        top: 30px;
        left: 0;
        width: 100%;
        height: 50px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        z-index: 1000;
        @media screen and (max-width: 340px) {
                top: 20px;
                height: 40px;
        }
}

.left-arrow, .menu-dots{
        height: 50px;
        width: 50px;
        border-radius: 50%;
        background-color: #fff;
        border: 1px solid var(--gray-color);
        display: grid;
        justify-content: center;
        align-items: center;
        @media screen and (max-width: 340px) {
                height: 40px;
                width: 40px;
        }
}

.left-arrow{
        margin-left: 30px;
        @media screen and (max-width: 390px) {
                margin-left: 20px;
        }
}

.name-category{
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        p{
                font-weight: 500;
                font-size: 22px;
                line-height: 80%;
                text-align: center;
                color: var(--premium-color);
                letter-spacing:-0.5px;
        }
}


.menu-dots{

        margin-right: 30px;
        @media screen and (max-width: 390px) {
                margin-right: 20px;
        }
}