@import './default.scss', 
'./error-pages.scss', 
'./sign.scss', 
'./footer.scss', 
'./profile.scss', 
'./header.scss',
'./teachers-style.scss',
'./invited.scss';
@import './animate.scss';
@import './archive.scss';
@import './new-style.scss';
@import './terms.scss';
@import './staff-style.scss';
@import './modal-dots.scss';
@import './chats.scss';
@import './modaljanus.scss';
@import './stylevideo.scss';

:root{
        --premium-color: rgb(51,54,124);
        --secondary-color: rgb(227,136,84);
        --secondary-purple: rgb(199,194,235);
        --secondary-purple-light: rgb(238,239,255);
        --gray-color: rgb(225,225,235);
        --secondary-orange: rgb(251,230,228);
        --premium-orange: rgb(214,107,94);
        --color-gray: rgb(129,134,179);
        --cyan: rgb(79,175,195);
        
}

html, body{
        margin: 0;
        padding: 0;
        background-color: rgb(255,255,255);
}

h2, h1, h3, h4, h5, h6, a, p{
        font-family: 'Inter', sans-serif;
        margin: 0;
        padding: 0;
}

.w-100{
        width: 100%;
}

.ant-divider-horizontal{
        margin: 5px 0 !important;
}

.wrapper{
        padding-top: 120px;
        padding-left: 15px;
        padding-right: 15px;
        overflow: auto;
        padding-bottom: 80px;

        &.terms{
                display: flex;
                flex-direction: column;
                padding-left: 15px;
                padding-right: 15px;
                gap: 7px;
                .title{
                        font-style: normal;
                        font-weight: 600;
                        font-size: calc(1.0rem + .6vw);
                        color: var(--premium-color); 
                        text-align: center;
                }
                .sub-title{
                        font-style: normal;
                        font-weight: 600;
                        font-size: calc(0.8rem + .6vw);
                        color: gray;
                        b{
                                font-size: calc(0.8rem + .6vw);
                                color: black;
                        }
                }
                p {
                        &:not(.title, .sub-title){
                                font-weight: 500;
                                font-size: calc(0.6rem + .6vw);
                                color: black;
                                text-align: justify;
                        }
                        a{
                                text-decoration: none;
                        }
                }
                .left{
                        padding-left: 10px;
                        border-left: 2px solid var(--cyan);
                }
        }
}