.wrapper-profile{
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        position: relative;


        .header-profile{
                position: relative;
                overflow: hidden;
                height: 170px; 
                width: 100%;
                background-color: var(--secondary-purple-light);
                border-bottom: 1px solid var(--secondary-orange);
        }

        .profile-content{
                display: flex;
                padding-top: 110px;
                flex-direction: column;
                align-items: center;
                padding-left: 20px;
                padding-right: 20px;

                .profile-name{
                        font-weight: 600;
                        font-size: 30px;
                        line-height: 15px;
                        text-align: center;
                        color: var(--premium-color);
                        letter-spacing:-1px;
                }

                .profile-info-other{
                        margin-top: 20px;
                        display: flex;
                        gap: 10px;
                        align-items: start;
                        width: 100%;
                        // flex-wrap: wrap;
                        // padding-left: 15px;
                        // padding-right: 15px;
                        flex-direction: column;

                        .item-data-small{
                                flex:  1 0 auto;
                                display: flex;
                                flex-direction: row;
                                gap: 5px;
                                align-items: center;

                                .circle-image{
                                        height: 30px;
                                        width: 30px;
                                        border-radius: 50%;
                                        background-color: var(--color-gray);
                                        display: grid;
                                        justify-content: center;
                                        align-items: center;
                                }
                                p{
                                        color: var(--color-gray);
                                }
                        }
                }
        }




        .profile-avatar-div{
                position: absolute;
                top: 170px;
                left: 50%;
                transform: translate(-50%, -50%);
                height: 160px;
                width: 160px;
                background: rgba(255, 255, 255, 0.05);
                border-radius: 50%;
                box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
                backdrop-filter: blur(3px);
                -webkit-backdrop-filter: blur(3px);
                border: 1px solid rgba(255, 255, 255, 0.8);
                display: grid;
                justify-content: center;
                align-content: center;
        }

        .buttons{
                display: flex;
                flex-wrap: wrap;
                flex-direction: row;
                width: 100%;
                gap: 10px;

                .login-submit{
                        flex: 1 0 auto;
                }
                .state-revers{
                        flex: 1 0 auto;
                }
        }
}


.forms-edit{
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 20px;
        padding-bottom: 100px;

        .form{
                display: flex;
                flex-direction: column;
                gap: 0;
                width: 100%;

                .item-form{
                        display: flex;
                        flex-direction: column;
                        gap: 5px;
                        p{
                                font-size: 15px;
                                font-weight: 500;
                                padding-left: 10px;
                                color: var(--premium-color);
                        }
                        .form-input{
                                width: 100%;
                                padding: 10px 10px;
                                font-size: 15px;
                                font-weight: 500;
                                margin-bottom: 30px;
                                background: white;
                                margin: 0;
                                border-color: var( --gray-color);
                                padding: 12px 12px;
                                height: 40px;
                                border-radius: 17px;
                                color: var(--premium-color);
                        
                                &:focus, :hover{
                                        border: 1px solid #666666;
                                }
                                &.date-picker{
                                        border: transparent !important;
                                        &:focus, :hover{
                                                border: 1px solid transparent;
                                        }
                                }

                                &.disabled{
                                        background: var( --gray-color);
                                }
                        }

                        .login-submit{
                                p{
                                        color: white;
                                }
                        }

                        .form-input-select{
                                .ant-select-selector{
                                        width: 100%;
                                        font-size: 15px;
                                        font-weight: 500;
                                        border-color: none;
                                        border-radius: 17px;
                                        height: 40px;
                                        display: flex;
                                        flex-direction: row;
                                        align-items: center;
                                        .ant-select .ant-select-arrow {
                                                display: none;
                                        }
                                }
                        }

                        .photo-item{
                                display: flex;
                                flex-direction: row;
                                gap: 10px;
                                flex: 1 0 auto;
                        }
                }
        }

}