$primary: rgb(51,54,124);
$secondary: #38ef7d;
$white: #fff;
$gray: #9b9b9b;

.__wrapper-sign__{
        position: relative;
        width: 100%;
        height: 100vh;
        background-color: transparent;
        z-index: 10;
}

.__container-sign__{
        position: relative;
        z-index: 101;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: fit-content;
        width: 450px;
        transition: all 0.4s ease-in-out;
        animation: identifier-position 1.2s;

        &.out-in-sign{
                animation: identifier-position-reverse 1.2s;
                top: 0%;
                left: 50%;
                opacity: 0;
        }

        .content{
                background: rgba(255, 255, 255, 0.19);
                border-radius: 16px;
                box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
                backdrop-filter: blur(6.5px);
                -webkit-backdrop-filter: blur(6.5px);
                border: 1px solid rgba(255, 255, 255, 0.65);
                height: 100%;
                width: 100%;
                transition: all 0.5s ease-in-out;

                .fields{
                        display: flex;
                        flex-direction: column;
                        gap: 15px;
                        padding: 50px;
                        transition: all 0.5s ease-in-out;

                        .login-submit{
                                background-color: var(--premium-color);
                                display: flex;
                                flex-direction: row;
                                align-items: center;
                                justify-content: center;
                                padding: 12px 24px;
                                height: 40px;
                                border-radius: 17px;
                                border: none;

                                p{
                                        font-style: normal;
                                        font-weight: 600;
                                        font-size: 16px;
                                        line-height: 19px;
                                        color: #fff; 
                                }
                        }

                        .state-revers{
                                display: flex;
                                flex-direction: row;
                                align-items: center;
                                justify-content: center;
                                padding: 12px 24px;
                                height: 40px;
                                border-radius: 17px;
                                border: none;

                                p{
                                        font-style: normal;
                                        font-weight: 600;
                                        font-size: 16px;
                                        line-height: 19px;
                                        color: var(--secondary-color);
                                }
                        }
                }
        }
}

.user-box {
        padding: 0;
        margin: 0;
        border-color: var( --gray-color);
}
.input-login {
        width: 100%;
        padding: 10px 10px;
        font-size: 14px;
        color: #121212;
        margin-bottom: 30px;
        border: 1px solid #131313;
        background: var(--secondary-purple);
        margin: 0;
        border-color: var( --gray-color);
        padding: 12px 24px;
        height: 40px;
        border-radius: 17px;

        &:focus, :hover{
                border: 1px solid #666666;
        }
}

