$primary: rgb(51, 54, 124);
$secondary: #38ef7d;
$white: #fff;
$gray: #9b9b9b;

.__wrapper-sign__ {
        position: relative;
        width: 100%;
        height: 100vh;
        background: #FFF;
        z-index: 10;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
}

.header-sing{
        position: absolute;
        top: 5px;
        transform: translateX(-50%);
        left: 50%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        h1{
                // text-transform: uppercase;
                font-size: 20px;
                text-align: center;
                color: black;
                font-weight: 500;
                letter-spacing: -0.7px;
                span{
                        color: var(--premium-color);
                }
        }

        h4{
                color: #667085;
                text-align: center;
                font-size: 16px;
                font-weight: 500;
                line-height: 16px;
                letter-spacing: -0.5px;
                padding: 10px 30px;
        }

        p{
                font-size: 18px;
                text-align: center;
                color: red;
                font-weight: 500;
                letter-spacing: -0.7px;
        }

        img{
                aspect-ratio: 376/214;
                height: 100px;
                width:auto;
        }
}

.forgot-password{
        color: var(--premium-color);
        font-size: 14px;
        font-weight: 600;
        line-height: 18px;
        letter-spacing: -0.5px;
        text-align: end;
}

.__container-sign__ {
        margin-left: 10px;
        margin-right: 10px;
        border-radius: 32px;
        background: #FFF;
        padding: 0px 30px;
        position: relative;
        z-index: 101;
        height: fit-content;
        width: 450px;
        transition: all 0.4s ease-in-out;

        .content {
                backdrop-filter: blur(6.5px);
                -webkit-backdrop-filter: blur(6.5px);
                height: 100%;
                width: 100%;
                transition: all 0.5s ease-in-out;

                h2 {
                        color: #101828;
                        text-align: center;
                        font-size: 22px;
                        font-weight: 600;
                        line-height: 26px;
                        letter-spacing: -0.5px;
                }

                h4{
                        color: #667085;
                        text-align: center;
                        font-size: 16px;
                        font-weight: 500;
                        line-height: 16px;
                        letter-spacing: -0.5px;
                        padding: 10px 0px;
                }

                .fields {
                        display: flex;
                        flex-direction: column;
                        gap: 15px;
                        padding: 0.5rem;
                        transition: all 0.5s ease-in-out;
                }
        }
}

.login-submit {
        background-color: var(--premium-color);
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding: 6px 12px;
        width: 100% !important;
        border-radius: 100px;
        border: none;

        p {
                color: #FFF;
                font-size: 14px;
                font-weight: 500;
                line-height: 20px;
                letter-spacing: -0.5px;
        }
}

.register-component-button {
        display: flex;
        justify-content: center;
        align-items: baseline;
        gap: 8px;
        align-self: stretch;

        p {
                color: #667085;
                font-size: 14px;
                font-weight: 500;
                line-height: 20px;
                letter-spacing: -0.5px;
        }

        a {
                color: var(--premium-color);
                font-size: 14px;
                font-weight: 500;
                line-height: 20px;
                letter-spacing: -0.5px;
        }
}

.state-revers {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding: 12px 24px;
        height: 40px;
        border-radius: 17px;
        border: none;
        background-color: transparent;

        p {
                font-style: normal;
                font-weight: 600;
                font-size: 16px;
                line-height: 19px;
                color: var(--secondary-color);
        }
}

.user-box {
        padding: 0;
        margin: 0;
        border-color: var(--gray-color);
}

.input-login {
        width: 100%;
        padding: 6px 10px;
        font-size: 12px;
        color: #121212;
        margin-bottom: 30px;
        border: 1px solid #131313;
        background: white;
        margin: 0;
        border-color: var(--gray-color);
        border-radius: 17px;

        &:focus,
        :hover {
                border: 1px solid #666666;
        }
}

@keyframes scale-truth {
        from {
                opacity: 1;
                scale: 1;
        }

        to {
                opacity: 0.1;
                scale: 1.4;
        }
}

input[type="radio"] {
        position: absolute;
        opacity: 0;
        width: 0;
        height: 0;
}

.radio-btn {
        position: relative;
        display: inline-block;
        margin-right: 10px;
        width: 20px;
        height: 20px;
        background-color: white;
        border-radius: 50%;
        border: 2px solid var(--premium-color);
        transition: all 0.3s;
}

.radio-btn:active {
        transform: scale(0.9);
}

input[type="radio"]:checked+.radio-btn::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 12px;
        height: 12px;
        background-color: var(--cyan);
        border-radius: 50%;
}

.radio-btn::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 10px;
        height: 10px;
        background-color: transparent;
        border-radius: 50%;
        border: 2px solid var(--premium-color);
        transition: all 0.3s;
}

.ant-radio-wrapper {
        display: flex;
        align-items: center;

        .ant-radio-inner {
                appearance: none;
                -webkit-appearance: none;
                -moz-appearance: none;
                border-radius: 50%;
                border: 2px solid #ccc;
                position: relative;

                &:after {
                        content: '';
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%) scale(0);
                        width: 0.5rem;
                        height: 0.5rem;
                        border-radius: 50%;
                        background-color: #1890ff;
                        transition: transform 0.2s ease;
                }

                &:checked {
                        border-color: #1890ff;
                }

                &:checked:after {
                        transform: translate(-50%, -50%) scale(1);
                }

                &:focus {
                        outline: none;
                }
        }
}